#block{
    Width:1412px;
    Height:682px;
  margin:30px;
  padding-left: 30px;
   border-radius:    45px;
   background-color: #B0D8DA;
   box-shadow: 10px 5px 5px rgb(10, 98, 73);
display: flex;
justify-content: flex-end;

}
.b_word{

}
.b_word h1 {
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700px;
    line-height: 81px;
    letter-spacing: 0em;

    color: #FFFFFF;
    justify-content: flex-start;

}
.chek{
    margin:0px;
}
.b_word p{
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    font-weight: 400px;

}

.language{
   display: flex;
   flex-direction: row;
   align-self:flex-end ;
}
.icon{
    margin-top: 23px;
    margin-left: 10px;
    Width:13px;
Height:6.5px;
Border:1px;
}
.word{
    margin-left: 80px; 
}
.word p{
    color:#ABABAB;
}
.registr{
    display: flex;
    flex-direction: column;
    width: 860px;
height: 682px;
background: #ffffff;
border-radius: 45px;
}
.img1{
    position: absolute;
    height: 400px;
    width: 400px;
    margin-right: 800px;
    margin-top:250px
}
.div_form{
    color:#ABABAB;
   margin-left: 80px;
}

input{
  
}
#button{
    width: 200px;
    height: 30px;
    border-radius: 45px;
    color:#ffffff;
    background-color: rgb(108, 214, 214);
}
@media  (max-width:576px) {
    #block{
       width: 450px;
      margin:5px;
      height: 700px;
      padding-left:10px;
       border-radius:    45px;
       background-color: #488a0a;
       box-shadow: 10px 5px 5px rgb(63, 113, 99);
    display: flex;
    flex-direction: column;
    
    }  
    .b_word h1 {
        font-size: 50px;
text-align: c;
        line-height: 3px;
    
    }
    .registr{
        display: flex;
        flex-direction: column;
        width: 450px;
    height: 600px;
    background: #ffffff;
    border-radius: 45px;
    }
    .b_word p{
   
        font-size: 20px;
text-align: center;
            line-height: 20px;
     
        
        }
    

.word h1{
    font-size: 15px;
}
.word p{
    font-size: 15px;
}
.img1{
   
    height: 100px;
    width: 100px;
    margin-left: 310px;
    margin-bottom:590px;
}

}